* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.logo {
    font-weight: bold;
    font-size: 36px;
}

.logo-r {
    color: #fd6e0a;
}

/* Common style */
.common-btn {
    background-color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

.outline-btn {
    background-color: rgb(244, 244, 244);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #fd6e0a;
    border: 1px solid#fd6e0a;
    cursor: pointer;
}

nav {

    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

/* hero section style */
.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left-p-1 {
    font-size: 20px;
    font-weight: 600;
}

.hero-left h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-left-btn-parent {
    margin-top: 10px;
}

/* about us css */
.about-parent {
    background-color: rgb(244, 244, 244);
    margin: 70px auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.about-parent p {
    margin: 10px 0;
}

.about-box-parent {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

/* what i do section css */
.what-i-do-parent {
    margin: 60px auto;
    text-align: center;
}

.what-i-do-card-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.what-i-do-card-container .what-i-do-card {
    border: 2px solid #fd6e0a;
    padding: 8px;
    border-radius: 10px;
    text-align: left;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 70px !important;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-radius: 10px;
}

footer form input {
    border: none;
    outline: none;
    background-color: white;
    padding: 8px 15px;
    padding: 8px 15px;
    border-radius: 8px;
    display: block;
    margin-bottom: 5px;
}