* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.logo {
    font-weight: bold;
    font-size: 36px;
}

.logo-r {
    color: #fd6e0a;
}

/* Common style */
.common-btn {
    background-color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
}

nav {

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 12px 0;


}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a {
    text-decoration: none;
}